/* src/index.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  
  background-image: url('/fondo.jpeg'); 
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto parallax leve */
  
  color: white;
  min-height: 100vh;
}

/* Esta capa crea el oscurecimiento para que el texto blanco se lea bien */
#root {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,   /* Arriba un poco transparente */
    rgba(0, 0, 0, 0.8) 50%,  /* En medio más oscuro */
    black 100%               /* Abajo negro total */
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}